{% extends 'layouts/master.html' %}
{% block title %}Cambiar contraseña{% endblock %}
{% block body %}
<h1>Cambia tu contraseña</h1>
<form action="" method="post">
	<input type="hidden" name="email" value="{{ email }}">
	{% for campo in form %}
		{% if campo.type != 'CSRFTokenField' %}
			<div class="form-group{%if campo.errors %} has-error{% endif %}">
			{{ campo.label }} 
			{% if campo.type in ('StringField', 'PasswordField')  %}
				{{ campo(class='form-control') }}
			{% else %}
				{{ campo() }}
			{% endif %}
			{% for error in campo.errors %}
				<span class="help-block">{{ error }}</span>
			{% endfor %}
			</div>
		{% else %}
			{{ campo() }}
		{% endif %}
	{% endfor %}
	<input type="submit" class="btn btn-success" value="Actualizar">
</form>
{% endblock %}
